/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Olena
*/

.background {
    -fx-background-color: #187187; /* #1d1d1d */
}

.table-view {
    -fx-background-color: #104f5e; /* #1d1d1d */
    /* -fx-font-color: #1d1d1d;  */
}

.table-cell {
    -fx-background-color: #8bb8c3; /* #1d1d1d */
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #104f5e; /* #1d1d1d */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.table-view .column-header .label {
    -fx-font-size: 15pt; /* 20pt */
    /* -fx-line-spacing: 1em; */
    -fx-text-wrap: true;    
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;    
}

.chart {
    -fx-padding: 25px;
    -fx-background-color: #8bb8c3; /* #1d1d1d */
}

.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-title {
  -fx-text-fill: #191970;
  -fx-font-size: 1.6em;
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #b269a3; /* #914800 */
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.axis-label {
  -fx-text-fill: #191970;
}

.axis-tick-mark {
    -fx-stroke: #b269a3; /* #637040 */
    -fx-stroke-width: 3; 
}

.axis-minor-tick-mark {
    -fx-stroke: #cc9cc2; /* #859656 */
}

.default-color0.chart-series-line { -fx-stroke: #871871; -fx-stroke-width: 5px; }

.default-color0.chart-series-area-line { -fx-stroke: #ab5d9b; } /* #e9967a */



